/***======================
        Reports Css
======================***/
.Reports-main{

        .sidebar-item{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
        }

        .make-me-sticky {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
                  
                padding: 0 15px;
        }

        ::-webkit-scrollbar {
                width: 0px;
        }   

        .card{
                max-height: vw(725px);
                overflow: auto;
        }

        .card-header{
                background-color: #000000;
                color: #fff;
                font-family: Avenir;
                font-size: vw(30px);
                line-height: vw(34px);
                font-weight: 600;
                letter-spacing: vw(2px);
        }

        .card-title{
                font-family: Avenir;
                font-size: vw(25px);
                font-weight: 600;
                margin-top: vw(25px);
                color: rgba(0, 0, 0, 0.85);
        }

        .card-text{
                font-family: Avenir;
                font-size: vw(16px);
                line-height: vw(28px);
                color: rgba(0, 0, 0, 0.54);
                margin-bottom: vw(15px);
        }
}