/***====================
    Main Scss
====================***/

/**========= Heading Box css =======**/
.heading-black{
    background-color: #000000;
    height: vw(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vw(15px) vw(15px) vw(15px) vw(25px) ;

    .titleClassName{
        color: #fff;
        font-family: Avenir;
        font-size: vw(25px);
        line-height: vw(34px);
    }

    .geariconclass{
    }
}

.heading-orange{
    background-color: #FBC02D;
    padding: vw(15px);

    .paragraphclassone{
        color: #000000;
        font-size: vw(18px);
        line-height: vw(20px);
        font-family: Avenir;
        text-align: left;
    }

    .paragraphclasstwo{
        color: #000000;
        font-size: vw(18px);
        line-height: vw(20px);
        font-family: Avenir;
        text-align: right;
    }

    .boldclass{
        font-size: vw(20px);
        color: #000000;
        font-family: Avenir;
        font-weight: bold;
        text-decoration: none;
    }
}

/**========= Login profile css =======**/
.login-profile-main{
    padding-top: vw(50px);
    padding-bottom: vw(10px);

    .login-profile-link{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: vw(18px);
        line-height: vw(21px);
        color: #000000;
        display: flex;
        align-items: center;
    }

    .dropdown-custommain{
        background-color: #EEEEEE;
        padding: vw(15px);
        width: 20%;
        top: vw(8px) !important;
    }

    .dropdown-divider-custom{
        border-top: 1px solid #000000;
    }
}