// YELLOW NAV ITEM
.main-nav-container{

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    .nav-yellow{
        display: inline-block;
        font-family: Avenir;
        font-size: vw(30px);
        font-weight: 100;
        color: #F0BA4A;
    }
    .nav-yellow,.nav-yellow-active:hover{
        cursor: pointer;
    }
    
    .nav-yellow-active{
        display: inline-block;
        font-family: 'Avenir';
        font-size: vw(30px);
        font-weight: bolder;
        color: #F0BA4A;
    }
    .nav-line-yellow{
        display: inline-block;
        border:1px solid #F0BA4A;
        width: 1px;
        margin: auto vw( 10px ); 
        height:vw( 23px )
    }
    
    
    // BLACK NAVITEM
    .nav-black{
        display: inline-block;
        font-family: 'Avenir-Light';
        font-size: vw(30px);
        color: black;
    }
    .nav-black,.nav-black-active:hover{
        cursor: pointer;
    }
    
    .nav-black-active{
        display: inline-block;
        font-family: 'Avenir';
        font-size: vw(30px);
        font-weight: bolder;
        color: black;
    }
    .nav-line-black{
        display: inline-block;
        border:1px solid black;
        width: 1px;
        margin: auto vw( 10px ); 
        height:vw( 23px )
    }
    .margin-top-line{
        margin-top: vw( 90px );
    }
}
