/*========================
    Footer Css
========================*/
.footer-main{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: vw(20px) vw(20px);
    margin: vw(0px) vw(0px) vw(40px) vw(0px);

    ul{

        li{
            color: #000;
            font-size: vw(25px);
            line-height: vw(34px);
        }

        a{
            color: #000;
            font-family: Avenir;
        }
    }
}