/********************
    Function Css
********************/
@function vw($target) {
    $vw-context: (1920 * 0.01) * 1px;//1920
    @return ($target / $vw-context) * 1vw;
}

@function vh($target) {
    $vw-context: (1080 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vh;
}

@function mvw($target) {
    $vw-context: (375 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
}

@function vh($target) {
    $vw-context: (375 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vh;
}


@function rem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}