/********************
    Global Css
********************/
/***********************************
            Global Reset             
***********************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}

.main-padding{
    padding: vw(0px) vw(60px);
}

.button-css{
    width: vw(200px);
    height: auto;
    color: #FFFFFF;
    background-color: #FBC02D;
    box-shadow: vw(0px) vw(2px) vw(2px) rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: vw(10px);
    font-family: Avenir;
    font-size: vw(30px);
    line-height: vw(41px);
}

.modal-button-next{
    margin-bottom: vw(15px);
}

.modal-close-button{
    margin-top: vw(15px);
    margin-bottom: vw(15px);
}

.modaltwo-close-button{
    margin-top: vw(25px);
    margin-bottom: vw(25px);
}

.modal-borderlist{
    border-radius: vw(10px);
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.modal-borderlisttwo{
    border-radius: vw(20px);
    box-sizing: border-box;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.news-list-padding{
    padding: vw(0px) vw(50px);
}

/** --- Bottom button --- **/
.modalbottom-next{
    margin-bottom: vw(48.57px);
}

h3{
    font-size: vw(40px);
    font-family: Avenir;
    font-weight: bold;
    line-height: vw(55px);
}

p{
    font-size: vw(25px);
    font-family: Avenir-Light;
    line-height: vw(34px);
}

h4{
    font-family: Avenir;
    font-size: vw(30px);
    font-weight: bold;
    line-height: vw(34px);
    margin-bottom: vw(10px);
}




/****=======================
    Click gear button
=======================****/
.gear-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: vw(18px);
    line-height: vw(21px);
    color: #000000;
    display: flex;
    align-items: center;
}

.gear-custommain{
    background-color: #EEEEEE;
    padding: vw(15px);
    top: vw(8px) !important;
}

.gear-divider-custom{
    border-top: 1px solid #000000;
}

