/********************
    Navigation Css
********************/
.marquee {
    background-color: #FBC02D;
    width: 100%;
    height: vw(50px);
    padding-top: vw(5px);
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
  }
  .marquee span {
    display: inline-block;
    font-size: 20px;
    position: relative;
    left: 100%;
    animation: marquee 14s linear infinite;

    ul{
        display: flex;
        align-items: center;
        padding-left: vw(30px);

        .li-bold{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: vw(20px);
            line-height: vw(23px);
            margin: vw(0px) vw(10px); 
        }

        .li-normal{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: vw(20px);
            line-height: vw(23px);
            margin: vw(0px) vw(10px); 
        }

        .circle-icon{
            color: #00C950;
            font-size: vw(25px);
        }
    }
  }
  .marquee:hover span {
    animation-play-state: paused;
  }
  
  .marquee span:nth-child(1) {
    animation-delay: 0s;
  }
  .marquee span:nth-child(2) {
    animation-delay: 0.8s;
  }
  .marquee span:nth-child(3) {
    animation-delay: 1.6s;
  }
  .marquee span:nth-child(4) {
    animation-delay: 2.4s;
  }
  .marquee span:nth-child(5) {
    animation-delay: 3.2s;
  }
  .marquee span:nth-child(6) {
    animation-delay: 4.0s;
  }
  
  @keyframes marquee {
    0%   { left: 100%; }
    100% { left: -100%; }
  }

.navbar-mainhead{
    background-color: #FBC02D;
    width: 100%;
    height: vw(50px);
    display: flex;	
    overflow: hidden;
    position: relative;

    .li {
        font-size: 3em;
        color: limegreen;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 50px;
        text-align: center;
        /* Starting position */
        -moz-transform:translateX(100%);
        -webkit-transform:translateX(100%);	
        transform:translateX(100%);
        /* Apply animation to this element */	
        -moz-animation: example1 15s linear infinite;
        -webkit-animation: example1 15s linear infinite;
        animation: example1 15s linear infinite;
       }
       /* Move it (define the animation) */
       @-moz-keyframes navbar-mainhead {
        0%   { -moz-transform: translateX(100%); }
        100% { -moz-transform: translateX(-100%); }
       }
       @-webkit-keyframes navbar-mainhead {
        0%   { -webkit-transform: translateX(100%); }
        100% { -webkit-transform: translateX(-100%); }
       }
       @keyframes navbar-mainhead {
        0%   { 
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%); 		
        }
        100% { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 
        }
       }

    ul{
        display: flex;
        align-items: center;
        padding-left: vw(30px);

        .li-bold{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: vw(20px);
            line-height: vw(23px);
            margin: vw(0px) vw(10px); 
        }

        .li-normal{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: vw(20px);
            line-height: vw(23px);
            margin: vw(0px) vw(10px); 
        }

        .circle-icon{
            color: #00C950;
            font-size: vw(25px);
        }
    }
}