/********************
    Typography Css
********************/

@font-face{
  font-family: 'Avenir';
  font-style:'normal';
  src: url('./assets/fonts/Avenir\ Roman.otf');
}
@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face{
  font-family: 'Avenir-Light';
  font-style:'normal';
  src: url('./assets/fonts/avenirltstd-light.otf');
}