/*====================
    Pre Login Css
====================*/

/*======== Login Button Section ========*/
.login-button-main{
    text-align: right;
    margin-top: vw(45px);
    margin-bottom: vw(10px);

    .button-login{
        margin-right: vw(30px);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: vw(25px);
        line-height: vw(21px);
        color: #000;
        text-decoration: none;
    }
}

/*======== Sign Up Section ========*/
.signup-main{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; 

    .signup-maindivone{
        background-color: #FBC02D;
        width: 100%;
        height: vw(525px);
        padding: vw(0px) vw(50px);
        margin: vw(50px) vw(0px);

        h3{
            color: #fff;
            position: absolute;
            bottom: 15%;
        }
    }

    .signup-maindivtwo{
        margin: vw(50px) vw(0px);
        padding-right: 0;

        .signup-form{
            border: 0.5px solid #000000;
            box-sizing: border-box;
            border-radius: vw(10px);
            padding: vw(15px);
            height: 23.4rem;

            h5{
                font-size: vw(25px);
                line-height: vw(34px);
                font-family: Avenir;
                font-weight: bold;
                margin-top: vw(60px);
                margin-bottom: vw(20px);
            }

            .form-group{
                margin-bottom: 0px;
            }

            .signup-input{
                border: none;
                border-radius: 0px;
                border-bottom: 0.5px solid #000;
            }

            .signup-input:focus{
                outline: none;
                box-shadow: none;
            }
            
            .button-signup{
                margin-top: vw(61px);
                margin-bottom: vw(45px);
            }
        }
    }
}

/*======== Bigger Clearer Section ========*/
.bigger-clearer-main{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: vw(50px) vw(20px);

    .bigger-clearer-main-divi{
        padding: vw(80px) vw(150px) vw(0px) vw(25px);

        h3{
            margin-bottom: vw(10px);
        }
    }

    .bigger-clearer-main-division{
        width: 100%;
        height: 40vh;
        background-color: #C4C4C4;
    }
}

/*======== Soul Publications Section ========*/
.soul-publication-main{

    padding: vw(40px) vw(0px);

    h3{
        color: #000;
        margin-bottom: vw(30px);
        margin-left: vw(25px);
    }

    .box-division{
        display: flex;
        align-items: center;
        background-color: #FBC02D;
        color: #fff;
        width: 100%;
        height: 20vh;
        padding: vw(0px) vw(48px);

        h3{
            color: #fff;
            margin: auto;
            text-align: center;
        }
    }

    p{
        margin-top: vw(44px);
        margin-bottom: vw(44px);
    }

}

/*======== Conference Section ========*/
.conference-main{

    background-color: #8C8C8C;
    padding: vw(20px) vw(60px);

    h3{
        color: #fff;
    }

    p{
        color: #fff;
    }

    .conference-main-divisiontwo{
        padding-right: 0;
    }

    .button-css1{
        width: vw(200px);
        height: auto;
        color: #FFFFFF;
        background-color: #FBC02D;
        box-shadow: vw(0px) vw(2px) vw(2px) rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
        border-radius: vw(10px);
        font-family: Avenir;
        font-size: vw(30px);
        line-height: vw(41px);
        margin-top: vw(15px);
    }
}

/*======== Register Now ========*/
.register-pre-main{

    padding: vw(40px) vw(0px) vw(0px) vw(0px);

    p{
        padding: vw(30px) vw(0px);
    }

}