/********************
    Function Css
********************/
/********************
    Global Css
********************/
/***********************************
            Global Reset             
***********************************/
@import url("https://fonts.googleapis.com/css?family=Raleway");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

.main-padding {
  padding: 0vw 3.125vw;
}

.button-css {
  width: 10.41667vw;
  height: auto;
  color: #FFFFFF;
  background-color: #FBC02D;
  -webkit-box-shadow: 0vw 0.10417vw 0.10417vw rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0vw 0.10417vw 0.10417vw rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0.52083vw;
  font-family: Avenir;
  font-size: 1.5625vw;
  line-height: 2.13542vw;
}

.modal-button-next {
  margin-bottom: 0.78125vw;
}

.modal-close-button {
  margin-top: 0.78125vw;
  margin-bottom: 0.78125vw;
}

.modaltwo-close-button {
  margin-top: 1.30208vw;
  margin-bottom: 1.30208vw;
}

.modal-borderlist {
  border-radius: 0.52083vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.modal-borderlisttwo {
  border-radius: 1.04167vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.news-list-padding {
  padding: 0vw 2.60417vw;
}

/** --- Bottom button --- **/
.modalbottom-next {
  margin-bottom: 2.52969vw;
}

h3 {
  font-size: 2.08333vw;
  font-family: Avenir;
  font-weight: bold;
  line-height: 2.86458vw;
}

p {
  font-size: 1.30208vw;
  font-family: Avenir-Light;
  line-height: 1.77083vw;
}

h4 {
  font-family: Avenir;
  font-size: 1.5625vw;
  font-weight: bold;
  line-height: 1.77083vw;
  margin-bottom: 0.52083vw;
}

/****=======================
    Click gear button
=======================****/
.gear-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375vw;
  line-height: 1.09375vw;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gear-custommain {
  background-color: #EEEEEE;
  padding: 0.78125vw;
  top: 0.41667vw !important;
}

.gear-divider-custom {
  border-top: 1px solid #000000;
}

/********************
    Typography Css
********************/
@font-face {
  font-family: 'Avenir';
  font-style: 'normal';
  src: url("./assets/fonts/Avenir Roman.otf");
}

@font-face {
  font-family: 'Avenir-Light';
  font-style: 'normal';
  src: url("./assets/fonts/avenirltstd-light.otf");
}

/********************
    Navigation Css
********************/
.marquee {
  background-color: #FBC02D;
  width: 100%;
  height: 2.60417vw;
  padding-top: 0.26042vw;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.marquee span {
  display: inline-block;
  font-size: 20px;
  position: relative;
  left: 100%;
  -webkit-animation: marquee 14s linear infinite;
          animation: marquee 14s linear infinite;
}

.marquee span ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.5625vw;
}

.marquee span ul .li-bold {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.04167vw;
  line-height: 1.19792vw;
  margin: 0vw 0.52083vw;
}

.marquee span ul .li-normal {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.04167vw;
  line-height: 1.19792vw;
  margin: 0vw 0.52083vw;
}

.marquee span ul .circle-icon {
  color: #00C950;
  font-size: 1.30208vw;
}

.marquee:hover span {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.marquee span:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.marquee span:nth-child(2) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.marquee span:nth-child(3) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.marquee span:nth-child(4) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.marquee span:nth-child(5) {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}

.marquee span:nth-child(6) {
  -webkit-animation-delay: 4.0s;
          animation-delay: 4.0s;
}

@-webkit-keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.navbar-mainhead {
  background-color: #FBC02D;
  width: 100%;
  height: 2.60417vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  /* Move it (define the animation) */
}

.navbar-mainhead .li {
  font-size: 3em;
  color: limegreen;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
}

@-webkit-keyframes navbar-mainhead {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes navbar-mainhead {
  0% {
    /* Firefox bug fix */
    -webkit-transform: translateX(100%);
    /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    /* Firefox bug fix */
    -webkit-transform: translateX(-100%);
    /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

.navbar-mainhead ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.5625vw;
}

.navbar-mainhead ul .li-bold {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.04167vw;
  line-height: 1.19792vw;
  margin: 0vw 0.52083vw;
}

.navbar-mainhead ul .li-normal {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.04167vw;
  line-height: 1.19792vw;
  margin: 0vw 0.52083vw;
}

.navbar-mainhead ul .circle-icon {
  color: #00C950;
  font-size: 1.30208vw;
}

/*========================
    Footer Css
========================*/
.footer-main {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 1.04167vw 1.04167vw;
  margin: 0vw 0vw 2.08333vw 0vw;
}

.footer-main ul li {
  color: #000;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
}

.footer-main ul a {
  color: #000;
  font-family: Avenir;
}

/*====================
    Pre Login Css
====================*/
/*======== Login Button Section ========*/
.login-button-main {
  text-align: right;
  margin-top: 2.34375vw;
  margin-bottom: 0.52083vw;
}

.login-button-main .button-login {
  margin-right: 1.5625vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.30208vw;
  line-height: 1.09375vw;
  color: #000;
  text-decoration: none;
}

/*======== Sign Up Section ========*/
.signup-main {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.signup-main .signup-maindivone {
  background-color: #FBC02D;
  width: 100%;
  height: 27.34375vw;
  padding: 0vw 2.60417vw;
  margin: 2.60417vw 0vw;
}

.signup-main .signup-maindivone h3 {
  color: #fff;
  position: absolute;
  bottom: 15%;
}

.signup-main .signup-maindivtwo {
  margin: 2.60417vw 0vw;
  padding-right: 0;
}

.signup-main .signup-maindivtwo .signup-form {
  border: 0.5px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.52083vw;
  padding: 0.78125vw;
  height: 23.4rem;
}

.signup-main .signup-maindivtwo .signup-form h5 {
  font-size: 1.30208vw;
  line-height: 1.77083vw;
  font-family: Avenir;
  font-weight: bold;
  margin-top: 3.125vw;
  margin-bottom: 1.04167vw;
}

.signup-main .signup-maindivtwo .signup-form .form-group {
  margin-bottom: 0px;
}

.signup-main .signup-maindivtwo .signup-form .signup-input {
  border: none;
  border-radius: 0px;
  border-bottom: 0.5px solid #000;
}

.signup-main .signup-maindivtwo .signup-form .signup-input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.signup-main .signup-maindivtwo .signup-form .button-signup {
  margin-top: 3.17708vw;
  margin-bottom: 2.34375vw;
}

/*======== Bigger Clearer Section ========*/
.bigger-clearer-main {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 2.60417vw 1.04167vw;
}

.bigger-clearer-main .bigger-clearer-main-divi {
  padding: 4.16667vw 7.8125vw 0vw 1.30208vw;
}

.bigger-clearer-main .bigger-clearer-main-divi h3 {
  margin-bottom: 0.52083vw;
}

.bigger-clearer-main .bigger-clearer-main-division {
  width: 100%;
  height: 40vh;
  background-color: #C4C4C4;
}

/*======== Soul Publications Section ========*/
.soul-publication-main {
  padding: 2.08333vw 0vw;
}

.soul-publication-main h3 {
  color: #000;
  margin-bottom: 1.5625vw;
  margin-left: 1.30208vw;
}

.soul-publication-main .box-division {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FBC02D;
  color: #fff;
  width: 100%;
  height: 20vh;
  padding: 0vw 2.5vw;
}

.soul-publication-main .box-division h3 {
  color: #fff;
  margin: auto;
  text-align: center;
}

.soul-publication-main p {
  margin-top: 2.29167vw;
  margin-bottom: 2.29167vw;
}

/*======== Conference Section ========*/
.conference-main {
  background-color: #8C8C8C;
  padding: 1.04167vw 3.125vw;
}

.conference-main h3 {
  color: #fff;
}

.conference-main p {
  color: #fff;
}

.conference-main .conference-main-divisiontwo {
  padding-right: 0;
}

.conference-main .button-css1 {
  width: 10.41667vw;
  height: auto;
  color: #FFFFFF;
  background-color: #FBC02D;
  -webkit-box-shadow: 0vw 0.10417vw 0.10417vw rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0vw 0.10417vw 0.10417vw rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0.52083vw;
  font-family: Avenir;
  font-size: 1.5625vw;
  line-height: 2.13542vw;
  margin-top: 0.78125vw;
}

/*======== Register Now ========*/
.register-pre-main {
  padding: 2.08333vw 0vw 0vw 0vw;
}

.register-pre-main p {
  padding: 1.5625vw 0vw;
}

/***====================
    modal one css
====================***/
/********* 00PERSON PROFILE ADMIN SIGN UP css ********/
#exampleModal p {
  color: #000000;
  font-weight: bold;
  margin-bottom: 1.04167vw;
}

#exampleModal .signup-input {
  border: none;
  border-radius: 0px;
  border-bottom: 0.5px solid #000;
}

#exampleModal .signup-margin {
  margin-bottom: 7.13542vw;
}

/********* 01PERSON PROFILE ADMIN PRODUCT Css ********/
#exampleModal2 p {
  color: #000000;
  font-weight: bold;
  margin-bottom: 1.04167vw;
}

#exampleModal2 .nav-pills .nav-link {
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  font-weight: 500;
  color: darkgrey;
  text-align: center;
}

#exampleModal2 .nav-pills .nav-link.active, #exampleModal2 .nav-pills .show > .nav-link {
  color: #000000;
  background: transparent;
}

#exampleModal2 .modal-two-height {
  margin-bottom: 3.38542vw;
}

#exampleModal2 .modaltwo-price-total {
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  color: #00C950;
  margin-top: 0.52083vw;
}

#exampleModal2 .modaltwo-price-totalone {
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  color: #00C950;
  margin-top: 0.52083vw;
  margin-right: 1.30208vw;
}

/********* 02PERSON PROFILE TERMS Css ********/
#exampleModal3 p {
  color: #000000;
  font-weight: bold;
}

#exampleModal3 .modalthree-paragraph {
  font-size: 1.04167vw;
  font-weight: normal;
  margin-bottom: 1.5625vw;
}

#exampleModal3 .signup-marginthree {
  margin-top: 7.13542vw;
}

/********* 03PERSON PROFILE SHOPPING CART Css ********/
#exampleModal4 p {
  color: #000000;
  font-weight: bold;
  margin-bottom: 0.52083vw;
}

#exampleModal4 .modalfour-paragraph {
  font-size: 1.04167vw;
  font-weight: normal;
  margin-bottom: 1.5625vw;
  text-align: center;
  line-height: 1.40625vw;
}

#exampleModal4 .total-ptice {
  float: right;
  margin-right: -0.20833vw;
  margin-top: 0.52083vw;
}

#exampleModal4 .modalfour-next {
  margin-top: 2.91667vw;
  margin-bottom: 0.78125vw;
}

/********* 04PERSON PROFILE PAYMENT PROCESS ********/
#exampleModal5 p {
  color: #000000;
  font-weight: bold;
  margin-bottom: 0.52083vw;
}

#exampleModal5 .modalfive-paragraph {
  font-size: 1.04167vw;
  font-weight: normal;
  color: #F44336;
  margin-top: 2.96875vw;
  margin-bottom: 3.38542vw;
  text-align: center;
  line-height: 1.40625vw;
}

#exampleModal5 .modalfive-next {
  margin: 5.36458vw 0vw 0.78125vw 0vw;
}

/********* 04PERSON PROFILE TEAM ADMIN Css ********/
#exampleModal6 p {
  color: #000000;
  font-weight: bold;
  margin-bottom: 0.52083vw;
}

#exampleModal6 .modalsix-paragraph {
  font-size: 1.04167vw;
  font-weight: normal;
  margin-top: 2.96875vw;
  text-align: center;
  line-height: 1.40625vw;
}

#exampleModal6 .modalsix-next {
  margin: 5.36458vw 0vw 0.78125vw 0vw;
}

/********* 05PERSON PROFILE ADMIN-SUccess Css ********/
#exampleModal7 p {
  color: #000000;
  font-weight: bold;
  margin-bottom: 2.55208vw;
}

#exampleModal7 .signup-input {
  border: none;
  border-radius: 0px;
  border-bottom: 0.5px solid #000;
}

#exampleModal7 .modalseven-next {
  margin: 9.73958vw 0vw 0.78125vw 0vw;
}

/********* 05PERSON PROFILE ADMIN-SUccess Css ********/
#exampleModal8 p {
  color: #000000;
  font-weight: bold;
  margin-bottom: 0.52083vw;
}

#exampleModal8 .add-organisation-button {
  font-size: 1.04167vw;
  font-family: Avenir;
  line-height: 1.40625vw;
  font-weight: normal;
}

#exampleModal8 .add-organisation-button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal8 .arrow-icon {
  font-size: 2.08333vw;
  margin-left: 0.52083vw;
  color: #FBC02D;
}

#exampleModal8 .modaleight-paragraph {
  font-size: 0.78125vw;
  line-height: 1.04167vw;
  font-family: Avenir;
  font-weight: normal;
  margin-top: 10.41667vw;
}

#exampleModal8 .modaleight-next {
  margin: 0.52083vw 0vw 0.78125vw 0vw;
}

/********* 02PERSON PROFILE REJECT TERMS Css ********/
#exampleModal9 p {
  color: #000000;
  font-weight: bold;
}

#exampleModal9 .modalnine-paragraph {
  font-size: 1.04167vw;
  font-weight: normal;
  margin-bottom: 1.5625vw;
}

#exampleModal9 .modalnine-height {
  min-height: 29.94792vw;
}

/***====================
    modal two css
====================***/
/********* 07PERSON PROFILE TEAM ADMIN-RESEND INVITE css ********/
#exampleModal10 p {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 1.04167vw;
}

#exampleModal10 .modalTwoone-paragraph {
  font-size: 1.04167vw;
  font-weight: normal;
  line-height: 1.40625vw;
}

#exampleModal10 .modalTwo-button {
  border-bottom: 0.02604vw solid #dee2e6;
  border-radius: 0;
  text-align: left;
}

#exampleModal10 .modalTwo-button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal10 .modalTwo-margin {
  margin-bottom: 5.52083vw;
}

/********* 07PERSON PROFILE TEAM ADMIN-RESEND INVITE css ********/
#exampleModal11 p {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 1.04167vw;
}

#exampleModal11 .modalTworesend-paragraph {
  font-size: 1.04167vw;
  font-weight: normal;
  line-height: 1.40625vw;
  text-align: center;
}

#exampleModal11 .modalTworesend-margin {
  margin-bottom: 11.45833vw;
}

/********* 07PERSON PROFILE TEAM ADMIN-RESEND INVITE css ********/
#exampleModal12 p {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 1.04167vw;
}

#exampleModal12 .modalTworesend-paragraph {
  font-size: 1.04167vw;
  font-weight: normal;
  line-height: 1.40625vw;
  text-align: center;
}

#exampleModal12 .modalTworesend-margin {
  margin-bottom: 11.45833vw;
}

/********* Add organisation css ********/
#exampleModal13 p {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0.52083vw;
}

#exampleModal13 .hr-border-clss {
  border-top: 1px solid #000000;
  margin-top: 0;
}

#exampleModal13 .addorganisation-input-border {
  border: none;
  border-bottom: 0.05208vw solid #000000;
  border-radius: 0px;
  padding: 0;
}

#exampleModal13 .organisation-margin {
  margin-bottom: 14.58333vw;
}

/********* 07PERSON PROFILE TEAM ADMIN-RESEND INVITE Error css ********/
#exampleModal14 p {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0.52083vw;
}

#exampleModal14 .error-span-text {
  font-family: Avenir;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
}

#exampleModal14 .error-input-border {
  border: none;
  border-bottom: 0.05208vw solid #000000;
  border-top: 0.05208vw solid #000000;
  border-radius: 0px;
  padding: 0;
  margin-top: 2.08333vw;
}

#exampleModal14 .error-margin {
  margin-bottom: 8.125vw;
}

/********* 08PERSON PROFILE TEAM ADMIN css ********/
#exampleModal15 p {
  color: #000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 1.04167vw;
}

#exampleModal15 .modalTworesend-paragraph {
  font-size: 1.04167vw;
  font-weight: normal;
  line-height: 1.40625vw;
  text-align: center;
}

#exampleModal15 td {
  font-family: Avenir;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
}

#exampleModal15 .toal-product {
  color: cornflowerblue;
}

#exampleModal15 .total-ptice {
  float: right;
  margin-top: 1.04167vw;
  margin-bottom: 1.04167vw;
  margin-right: -0.26042vw;
}

/********* 08PERSON PROFILE TEAM User-TAC css ********/
#exampleModal16 p {
  font-family: Avenir;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
  font-weight: 600;
}

#exampleModal16 .tac-paragraph {
  font-family: Avenir-Light;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  font-weight: normal;
  margin-bottom: 1.5625vw;
}

#exampleModal16 .signup-margin {
  padding-top: 7.8125vw;
}

/********* 08PERSON PROFILE TEAM User-TAC Reject css ********/
#exampleModal17 p {
  font-family: Avenir;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
  font-weight: 600;
}

#exampleModal17 .tacreject-paragraph {
  font-family: Avenir-Light;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  font-weight: normal;
  margin-bottom: 1.5625vw;
}

#exampleModal17 .modal-height {
  min-height: 29.94792vw;
}

/********* 08PERSON PROFILE TEAM User-TAC-Reject css ********/
#exampleModal18 p {
  font-family: Avenir;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
  font-weight: 600;
}

#exampleModal18 .tacreject-paragraph {
  font-family: Avenir-Light;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  font-weight: normal;
  margin-bottom: 1.5625vw;
}

#exampleModal18 .margin-topcls {
  margin-top: 31.40625vw;
}

/********* 09PERSON PROFILE TEAM User-password css ********/
#exampleModal19 p {
  font-family: Avenir;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
  font-weight: bold;
  margin-bottom: 1.04167vw;
}

#exampleModal19 .team-user-paragraph {
  font-family: Avenir-Light;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  margin-top: 1.04167vw;
  font-weight: normal;
}

#exampleModal19 .teamuser-padding {
  padding: 0;
}

#exampleModal19 .border-teamuser {
  border: none;
}

#exampleModal19 .border-teamuser:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal19 .team-top-button {
  margin-top: 3.54167vw;
}

/********* 10 PERSON PROFILE TEAM User-password css ********/
#exampleModal20 p {
  font-family: Avenir;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
  font-weight: bold;
  margin-bottom: 1.04167vw;
}

#exampleModal20 .team-user-paragraph {
  font-family: Avenir-Light;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  margin-top: 1.04167vw;
  font-weight: normal;
  color: #F44336;
}

#exampleModal20 .teamuser-padding {
  padding: 0;
}

#exampleModal20 .border-teamuser {
  border: none;
}

#exampleModal20 .border-teamuser:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal20 .team-top-button {
  margin-top: 3.54167vw;
}

/********* 09PERSON PROFILE TEAM User-password css ********/
#exampleModal21 p {
  font-family: Avenir;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
  font-weight: bold;
}

#exampleModal21 .border-top-form {
  border: none;
  border-top: 1px solid #000;
  border-radius: 0px;
}

#exampleModal21 .margin-top-welcome {
  margin-top: 3.38542vw;
  margin-bottom: 8.75vw;
}

/********* 09PERSON PROFILE TEAM Subscription css ********/
#exampleModal22 p {
  font-family: Avenir;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
  font-weight: bold;
  margin-bottom: 0.78125vw;
}

#exampleModal22 .edit-subscription-title {
  font-family: Avenir;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  font-weight: bold;
}

#exampleModal22 .edit-subscription-paragraph {
  font-family: Avenir-Light;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  color: #F44336;
  padding-right: 5.20833vw;
  margin-top: 5.20833vw;
  margin-bottom: 13.02083vw;
}

/********* 00PERSON PROFILE ADMIN SIGN UP css ********/
#exampleModal23 p {
  font-family: Avenir;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
  font-weight: bold;
  margin-bottom: 0.78125vw;
}

#exampleModal23 .teammats-input {
  border: none;
  border-top: 1px solid #efefef;
  padding-left: 0;
  padding-right: 0;
}

#exampleModal23 .teammats-input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal23 .check-box {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 0.52083vw 0vw;
}

#exampleModal23 .check-box1 {
  padding-left: 0;
  padding-right: 0;
  color: #00C950;
}

#exampleModal23 .teammate-spam {
  font-family: Avenir;
  font-size: 0.88542vw;
  padding: 0.52083vw 1.04167vw;
}

#exampleModal23 .teammate-add-another {
  font-family: Avenir;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
}

#exampleModal23 .teammate-add-another:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal23 .nav-pills .nav-link {
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  font-weight: 500;
  color: darkgrey;
  text-align: center;
}

#exampleModal23 .nav-pills .nav-link.active, #exampleModal23 .nav-pills .show > .nav-link {
  color: #000000;
  background: transparent;
}

#exampleModal23 .modal-two-height {
  margin-bottom: 3.38542vw;
}

#exampleModal23 .modaltwo-price-total {
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  color: #00C950;
  margin-top: 0.52083vw;
}

#exampleModal23 .modaltwo-price-totalone {
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  color: #00C950;
  margin-top: 0.52083vw;
  margin-right: 1.30208vw;
}

/********* 11PERSON PROFILE USER-Free css ********/
#exampleModal24 p {
  font-family: Avenir;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
  font-weight: bold;
  margin-bottom: 0.78125vw;
}

#exampleModal24 .edit-sub-newpara {
  font-family: Avenir;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  font-weight: bold;
  margin-bottom: 0.78125vw;
}

#exampleModal24 .check-box {
  border-top: 1px solid #efefef;
  padding: 0.52083vw 0vw;
}

#exampleModal24 .check-box1 {
  padding-left: 0;
  padding-right: 0;
  color: #00C950;
}

#exampleModal24 .teammate-add-another {
  font-family: Avenir;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
}

#exampleModal24 .teammate-add-another:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal24 .nav-pills .nav-link {
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  font-weight: 500;
  color: darkgrey;
  text-align: center;
}

#exampleModal24 .nav-pills .nav-link.active, #exampleModal24 .nav-pills .show > .nav-link {
  color: #000000;
  background: transparent;
}

#exampleModal24 .modal-two-height {
  margin-bottom: 7.03125vw;
}

#exampleModal24 .modaltwo-price-totalone {
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  color: #F44336;
  margin-top: 0.52083vw;
}

/********* 11PERSON PROFILE USER-Free css ********/
#exampleModal25 p {
  font-family: Avenir;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
  font-weight: bold;
  margin-bottom: 0.78125vw;
}

#exampleModal25 .edit-sub-newpara {
  font-family: Avenir;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  font-weight: bold;
  margin-bottom: 0.78125vw;
}

#exampleModal25 .check-box {
  border-top: 1px solid #efefef;
  padding: 1.30208vw 0vw;
}

#exampleModal25 .check-box1 {
  padding-left: 0;
  padding-right: 0;
  color: #00C950;
}

#exampleModal25 .teammate-add-another {
  font-family: Avenir;
  font-size: 1.04167vw;
  line-height: 1.40625vw;
}

#exampleModal25 .teammate-add-another:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal25 .nav-pills .nav-link {
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  font-weight: 500;
  color: darkgrey;
  text-align: center;
}

#exampleModal25 .nav-pills .nav-link.active, #exampleModal25 .nav-pills .show > .nav-link {
  color: #000000;
  background: transparent;
}

#exampleModal25 .modal-two-height {
  margin-bottom: 7.03125vw;
}

#exampleModal25 .modaltwo-price-totalone {
  font-size: 1.04167vw;
  line-height: 1.40625vw;
  color: #F44336;
  margin-top: 0.52083vw;
}

/***====================
    modal three css
====================***/
/*** ======== 01NEWSLIST ======== ***/
#exampleModal26 p {
  font-family: Avenir;
  font-size: 1.5625vw;
  line-height: 2.13542vw;
  font-weight: bold;
  margin-bottom: 0.78125vw;
}

#exampleModal26 .newslist-input-border {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

#exampleModal26 .newslist-input-border:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal26 .select-box-margin {
  margin-bottom: 7.91667vw;
}

/*** ======== 01PRICEWATCH ======== ***/
#exampleModal27 p {
  font-family: Avenir;
  font-size: 1.5625vw;
  line-height: 2.13542vw;
  font-weight: bold;
  margin-bottom: 2.70833vw;
}

#exampleModal27 .newslist-input-border {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

#exampleModal27 .newslist-input-border:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal27 .select-box-margin {
  margin-bottom: 7.91667vw;
}

/*** ======== 01WATCHLIST-ALL SIX ======== ***/
#exampleModal28 p {
  font-family: Avenir;
  font-size: 1.5625vw;
  line-height: 2.13542vw;
  font-weight: bold;
  margin-bottom: 1.04167vw;
}

#exampleModal28 .newslist-input-border {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

#exampleModal28 .newslist-input-border:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal28 .add-inputmargin {
  margin-bottom: 13.02083vw;
}

/*** ======== 01 TRENDWATCH ======== ***/
#exampleModal29 p {
  font-family: Avenir;
  font-size: 1.5625vw;
  line-height: 2.13542vw;
  font-weight: bold;
  margin-bottom: 1.04167vw;
}

#exampleModal29 .newslist-input-border {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

#exampleModal29 .newslist-input-border:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#exampleModal29 .add-inputmargin {
  margin-bottom: 13.02083vw;
}

/********* 02PERSON PROFILE REJECT TERMS Css ********/
#exampleModal30 h4 {
  font-family: Avenir;
  font-size: 1.5625vw;
  color: #000000;
  margin-top: 2.08333vw;
  margin-bottom: 0;
}

#exampleModal30 span {
  color: limegreen;
  font-family: Avenir;
  font-size: 1.5625vw;
  font-weight: 800;
  height: 5.20833vw;
}

#exampleModal30 .cancel-css {
  font-family: Avenir;
  font-size: 1.25vw;
  line-height: 2.13542vw;
  width: 8.59375vw;
  height: 2.60417vw;
  color: #fff;
  background: #F44336;
  -webkit-box-shadow: 0vw 0.10417vw 0.10417vw rgba(0, 0, 0, 0.24), 0vw 0vw 0.10417vw rgba(0, 0, 0, 0.12);
          box-shadow: 0vw 0.10417vw 0.10417vw rgba(0, 0, 0, 0.24), 0vw 0vw 0.10417vw rgba(0, 0, 0, 0.12);
  border-radius: 0.10417vw;
  margin-top: 5.20833vw;
  margin-bottom: 1.45833vw;
}

#exampleModal30 .buy-css {
  font-family: Avenir;
  font-size: 1.25vw;
  line-height: 2.13542vw;
  width: 8.59375vw;
  height: 2.60417vw;
  color: #fff;
  background: #FBC02D;
  -webkit-box-shadow: 0vw 0.10417vw 0.10417vw rgba(0, 0, 0, 0.24), 0vw 0vw 0.10417vw rgba(0, 0, 0, 0.12);
          box-shadow: 0vw 0.10417vw 0.10417vw rgba(0, 0, 0, 0.24), 0vw 0vw 0.10417vw rgba(0, 0, 0, 0.12);
  border-radius: 0.10417vw;
  margin-top: 5.20833vw;
  margin-bottom: 1.45833vw;
}

#exampleModal31 h4 {
  font-family: Avenir;
  font-size: 1.5625vw;
  color: #000000;
  margin-top: 3.90625vw;
  margin-bottom: 0;
}

#exampleModal31 span {
  color: limegreen;
  font-family: Avenir;
  font-size: 1.5625vw;
  font-weight: 800;
  height: 5.20833vw;
}

#exampleModal31 p {
  font-family: Avenir;
  font-size: 0.9375vw;
  line-height: 1.30208vw;
  margin-top: 1.30208vw;
}

#exampleModal31 .paragraph-css {
  margin-bottom: 10.41667vw;
}

/***===============
    Resources Css
===============***/
.association-main {
  padding: 1.5625vw 0vw 0vw 0vw;
}

.association-main .association-para {
  font-family: Avenir-Light;
  font-size: 1.14583vw;
  line-height: 1.40625vw;
  font-weight: 600;
}

.association-main span {
  font-family: Avenir-Light;
  font-size: 0.78125vw;
  line-height: 1.04167vw;
  font-weight: 600;
}

.association-main .page-link {
  color: #000;
  border: none;
}

.events-main {
  padding: 1.5625vw 0vw 0vw 0vw;
}

.events-main .events-para {
  font-family: Avenir-Light;
  font-size: 1.14583vw;
  line-height: 1.40625vw;
  font-weight: 600;
}

.events-main span {
  font-family: Avenir-Light;
  font-size: 0.78125vw;
  line-height: 1.04167vw;
  font-weight: 600;
}

.events-main .page-link {
  color: #000;
  border: none;
}

/***======================
        Reports Css
======================***/
.Reports-main .sidebar-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Reports-main .make-me-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 15px;
}

.Reports-main ::-webkit-scrollbar {
  width: 0px;
}

.Reports-main .card {
  max-height: 37.76042vw;
  overflow: auto;
}

.Reports-main .card-header {
  background-color: #000000;
  color: #fff;
  font-family: Avenir;
  font-size: 1.5625vw;
  line-height: 1.77083vw;
  font-weight: 600;
  letter-spacing: 0.10417vw;
}

.Reports-main .card-title {
  font-family: Avenir;
  font-size: 1.30208vw;
  font-weight: 600;
  margin-top: 1.30208vw;
  color: rgba(0, 0, 0, 0.85);
}

.Reports-main .card-text {
  font-family: Avenir;
  font-size: 0.83333vw;
  line-height: 1.45833vw;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 0.78125vw;
}

/***====================
    Main Scss
====================***/
/**========= Heading Box css =======**/
.heading-black {
  background-color: #000000;
  height: 2.60417vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.78125vw 0.78125vw 0.78125vw 1.30208vw;
}

.heading-black .titleClassName {
  color: #fff;
  font-family: Avenir;
  font-size: 1.30208vw;
  line-height: 1.77083vw;
}

.heading-orange {
  background-color: #FBC02D;
  padding: 0.78125vw;
}

.heading-orange .paragraphclassone {
  color: #000000;
  font-size: 0.9375vw;
  line-height: 1.04167vw;
  font-family: Avenir;
  text-align: left;
}

.heading-orange .paragraphclasstwo {
  color: #000000;
  font-size: 0.9375vw;
  line-height: 1.04167vw;
  font-family: Avenir;
  text-align: right;
}

.heading-orange .boldclass {
  font-size: 1.04167vw;
  color: #000000;
  font-family: Avenir;
  font-weight: bold;
  text-decoration: none;
}

/**========= Login profile css =======**/
.login-profile-main {
  padding-top: 2.60417vw;
  padding-bottom: 0.52083vw;
}

.login-profile-main .login-profile-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9375vw;
  line-height: 1.09375vw;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-profile-main .dropdown-custommain {
  background-color: #EEEEEE;
  padding: 0.78125vw;
  width: 20%;
  top: 0.41667vw !important;
}

.login-profile-main .dropdown-divider-custom {
  border-top: 1px solid #000000;
}

/***============================
    Blog Css
============================***/
.bolog-news-left img {
  max-height: 20.83333vw;
  width: 100%;
}

.bolog-news-left h4 {
  font-family: Avenir;
  font-size: 1.5625vw;
  line-height: 2.13542vw;
  margin-top: 1.04167vw;
}

.bolog-news-left p {
  font-family: Avenir-Light;
  font-size: 1.25vw;
}

.bolog-news-left span {
  font-family: Avenir;
  font-size: 0.9375vw;
}

.main-nav-container {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.main-nav-container .nav-yellow {
  display: inline-block;
  font-family: Avenir;
  font-size: 1.5625vw;
  font-weight: 100;
  color: #F0BA4A;
}

.main-nav-container .nav-yellow, .main-nav-container .nav-yellow-active:hover {
  cursor: pointer;
}

.main-nav-container .nav-yellow-active {
  display: inline-block;
  font-family: 'Avenir';
  font-size: 1.5625vw;
  font-weight: bolder;
  color: #F0BA4A;
}

.main-nav-container .nav-line-yellow {
  display: inline-block;
  border: 1px solid #F0BA4A;
  width: 1px;
  margin: auto 0.52083vw;
  height: 1.19792vw;
}

.main-nav-container .nav-black {
  display: inline-block;
  font-family: 'Avenir-Light';
  font-size: 1.5625vw;
  color: black;
}

.main-nav-container .nav-black, .main-nav-container .nav-black-active:hover {
  cursor: pointer;
}

.main-nav-container .nav-black-active {
  display: inline-block;
  font-family: 'Avenir';
  font-size: 1.5625vw;
  font-weight: bolder;
  color: black;
}

.main-nav-container .nav-line-black {
  display: inline-block;
  border: 1px solid black;
  width: 1px;
  margin: auto 0.52083vw;
  height: 1.19792vw;
}

.main-nav-container .margin-top-line {
  margin-top: 4.6875vw;
}
/*# sourceMappingURL=App.css.map */