/***===============
    Bookmarks Css
===============***/
.bookmarks-main{
    padding: vw(30px) vw(0px) vw(0px) vw(0px);

    .bookmarks-para{
        font-family: Avenir-Light;
        font-size: vw(22px);
        line-height: vw(27px);
        font-weight: 600;
    }

    span{
        font-family: Avenir-Light;
        font-size: vw(15px);
        line-height: vw(20px);
        font-weight: 600;
    }

    .page-link{
        color: #000;
        border: none;
    }
}