/***====================
    modal one css
====================***/

/********* 00PERSON PROFILE ADMIN SIGN UP css ********/

#exampleModal{

    p{
        color: #000000;
        font-weight: bold;
        margin-bottom: vw(20px);
    }

    .signup-input{
        border: none;
        border-radius: 0px;
        border-bottom: 0.5px solid #000;
    }

    .signup-margin{
        margin-bottom: vw(137px);
    }
} 

/********* 01PERSON PROFILE ADMIN PRODUCT Css ********/
#exampleModal2{

    p{
        color: #000000;
        font-weight: bold;
        margin-bottom: vw(20px);
    }

    .nav-pills .nav-link{
        font-size: vw(20px);
        line-height: vw(27px);
        font-weight: 500;
        color: darkgrey;
        text-align: center;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        color: #000000;
        background: transparent ;
    }

    .modal-two-height{
        margin-bottom: vw(65px);
    }

    .modaltwo-price-total{
        font-size: vw(20px);
        line-height: vw(27px);
        color: #00C950;
        margin-top: vw(10px);
    }
    .modaltwo-price-totalone{
        font-size: vw(20px);
        line-height: vw(27px);
        color: #00C950;
        margin-top: vw(10px);
        margin-right: vw(25px);
    }
}

/********* 02PERSON PROFILE TERMS Css ********/

#exampleModal3{

    p{
        color: #000000;
        font-weight: bold;
    }

    .modalthree-paragraph{
        font-size: vw(20px);
        font-weight: normal;
        margin-bottom: vw(30px);
    }

    .signup-marginthree{
        margin-top: vw(137px);
    }
}

/********* 03PERSON PROFILE SHOPPING CART Css ********/
#exampleModal4{

    p{
        color: #000000;
        font-weight: bold;
        margin-bottom: vw(10px);
    }

    .modalfour-paragraph{
        font-size: vw(20px);
        font-weight: normal;
        margin-bottom: vw(30px);
        text-align: center;
        line-height: vw(27px);
    }

    .total-ptice{
        float: right;
        margin-right: vw(-4px);
        margin-top: vw(10px);
    }

    .modalfour-next{
        margin-top: vw(56px);
        margin-bottom: vw(15px);
    }
}

/********* 04PERSON PROFILE PAYMENT PROCESS ********/
#exampleModal5{

    p{
        color: #000000;
        font-weight: bold;
        margin-bottom: vw(10px);
    }

    // hr{
    //     border-top: vw(1px) solid #000000 !important;
    //     margin-top: 0;
    // }

    .modalfive-paragraph{
        font-size: vw(20px);
        font-weight: normal;
        color: #F44336;
        margin-top: vw(57px);
        margin-bottom: vw(65px);
        text-align: center;
        line-height: vw(27px);
    }

    .modalfive-next{
        margin: vw(103px) vw(0px) vw(15px) vw(0px);
    }
}

/********* 04PERSON PROFILE TEAM ADMIN Css ********/
#exampleModal6{

    p{
        color: #000000;
        font-weight: bold;
        margin-bottom: vw(10px);
    }

    .modalsix-paragraph{
        font-size: vw(20px);
        font-weight: normal;
        margin-top: vw(57px);
        text-align: center;
        line-height: vw(27px);
    }


    .modalsix-next{
        margin: vw(103px) vw(0px) vw(15px) vw(0px);
    }
}

/********* 05PERSON PROFILE ADMIN-SUccess Css ********/
#exampleModal7{

    p{
        color: #000000;
        font-weight: bold;
        margin-bottom: vw(49px);
    }

    .signup-input{
        border: none;
        border-radius: 0px;
        border-bottom: 0.5px solid #000;
    }

    .modalseven-next{
        margin: vw(187px) vw(0px) vw(15px) vw(0px);
    }
} 

/********* 05PERSON PROFILE ADMIN-SUccess Css ********/
#exampleModal8{

    p{
        color: #000000;
        font-weight: bold;
        margin-bottom: vw(10px);
    }

    .add-organisation-button{
        font-size: vw(20px);
        font-family: Avenir;
        line-height: vw(27px);
        font-weight: normal;
    }

    .add-organisation-button:focus{
        outline: none;
        box-shadow: none;
    }

    .arrow-icon{
        font-size: vw(40px);
        margin-left: vw(10px);
        color: #FBC02D;
    }

    .modaleight-paragraph{
        font-size: vw(15px);
        line-height: vw(20px);
        font-family: Avenir;
        font-weight: normal;
        margin-top: vw(200px);
    }

    .modaleight-next{
        margin: vw(10px) vw(0px) vw(15px) vw(0px);
    }
}

/********* 02PERSON PROFILE REJECT TERMS Css ********/

#exampleModal9{

    p{
        color: #000000;
        font-weight: bold;
    }

    .modalnine-paragraph{
        font-size: vw(20px);
        font-weight: normal;
        margin-bottom: vw(30px);
    }

    .modalnine-height{
        min-height: vw(575px);
    }
}