/***====================
    modal two css
====================***/

/********* 07PERSON PROFILE TEAM ADMIN-RESEND INVITE css ********/
#exampleModal10{

    p{
        color: #000000;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        margin-bottom: vw(20px);
    }

    .modalTwoone-paragraph{
        font-size: vw(20px);
        font-weight: normal;
        line-height: vw(27px);
    }
    .modalTwo-button{
        border-bottom: vw(0.5px) solid #dee2e6;
        border-radius: 0;
        text-align: left;
    }

    .modalTwo-button:focus{
        outline: none;
        box-shadow: none;
    }

    .modalTwo-margin{
        margin-bottom: vw(106px);
    }
}

/********* 07PERSON PROFILE TEAM ADMIN-RESEND INVITE css ********/
#exampleModal11{

    p{
        color: #000000;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        margin-bottom: vw(20px);
    }

    .modalTworesend-paragraph{
        font-size: vw(20px);
        font-weight: normal;
        line-height: vw(27px);
        text-align: center;
    }

    .modalTworesend-margin{
        margin-bottom: vw(220px);
    }
}

/********* 07PERSON PROFILE TEAM ADMIN-RESEND INVITE css ********/
#exampleModal12{

    p{
        color: #000000;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        margin-bottom: vw(20px);
    }

    .modalTworesend-paragraph{
        font-size: vw(20px);
        font-weight: normal;
        line-height: vw(27px);
        text-align: center;
    }

    .modalTworesend-margin{
        margin-bottom: vw(220px);
    }

}

/********* Add organisation css ********/
#exampleModal13{

    p{
        color: #000000;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        margin-bottom: vw(10px);
    }

    .hr-border-clss{
        border-top: 1px solid #000000;
        margin-top: 0;
    }

    .addorganisation-input-border{
        border: none;
        border-bottom: vw(1px) solid #000000;
        border-radius: 0px;
        padding: 0;
    }

    .organisation-margin{
        margin-bottom: vw(280px);
    }
}

/********* 07PERSON PROFILE TEAM ADMIN-RESEND INVITE Error css ********/
#exampleModal14{

    p{
        color: #000000;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        margin-bottom: vw(10px);
    }

    .error-span-text{
        font-family: Avenir;
        font-size: vw(20px);
        line-height: vw(27px);
       
    }

    .error-input-border{
        border: none;
        border-bottom: vw(1px) solid #000000;
        border-top: vw(1px) solid #000000;
        border-radius: 0px;
        padding: 0; 
        margin-top: vw(40px);
    }

    .error-margin{
        margin-bottom: vw(156px);
    }
}

/********* 08PERSON PROFILE TEAM ADMIN css ********/
#exampleModal15{

    p{
        color: #000000;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        margin-bottom: vw(20px);
    }

    .modalTworesend-paragraph{
        font-size: vw(20px);
        font-weight: normal;
        line-height: vw(27px);
        text-align: center;
    }

    td{
        font-family: Avenir;
        font-size: vw(20px);
        line-height: vw(27px);
    }

    .toal-product{
        color: cornflowerblue;
    }

    .total-ptice{
        float: right;
        margin-top: vw(20px);
        margin-bottom: vw(20px);
        margin-right: vw(-5px);
    }
}

/********* 08PERSON PROFILE TEAM User-TAC css ********/
#exampleModal16{

    p{
        font-family: Avenir;
        font-size: vw(25px);
        line-height: vw(34px);
        font-weight: 600;
    }

    .tac-paragraph{
        font-family: Avenir-Light;
        font-size: vw(20px);
        line-height: vw(27px);
        font-weight: normal;
        margin-bottom: vw(30px);
    }

    .signup-margin{
        padding-top: vw(150px);
    }
}

/********* 08PERSON PROFILE TEAM User-TAC Reject css ********/
#exampleModal17{

    p{
        font-family: Avenir;
        font-size: vw(25px);
        line-height: vw(34px);
        font-weight: 600;
    }

    .tacreject-paragraph{
        font-family: Avenir-Light;
        font-size: vw(20px);
        line-height: vw(27px);
        font-weight: normal;
        margin-bottom: vw(30px);
    }

    .modal-height{
        min-height: vw(575px);
    }
}

/********* 08PERSON PROFILE TEAM User-TAC-Reject css ********/
#exampleModal18{

    p{
        font-family: Avenir;
        font-size: vw(25px);
        line-height: vw(34px);
        font-weight: 600;
    }

    .tacreject-paragraph{
        font-family: Avenir-Light;
        font-size: vw(20px);
        line-height: vw(27px);
        font-weight: normal;
        margin-bottom: vw(30px);
    }
    
    .margin-topcls{
        margin-top: vw(603px);
    }
}

/********* 09PERSON PROFILE TEAM User-password css ********/
#exampleModal19{

    p{
        font-family: Avenir;
        font-size: vw(25px);
        line-height: vw(34px);
        font-weight: bold;
        margin-bottom: vw(20px);
    }

    .team-user-paragraph{
        font-family: Avenir-Light;
        font-size: vw(20px);
        line-height: vw(27px);
        margin-top: vw(20px);
        font-weight: normal;
    }

    .teamuser-padding{
        padding: 0;
    }

    .border-teamuser{
        border: none;
    }

    .border-teamuser:focus{
        outline: none;
        box-shadow: none;
    }

    .team-top-button{
        margin-top: vw(68px);
    }
}

/********* 10 PERSON PROFILE TEAM User-password css ********/
#exampleModal20{
    
    p{
        font-family: Avenir;
        font-size: vw(25px);
        line-height: vw(34px);
        font-weight: bold;
        margin-bottom: vw(20px);
    }

    .team-user-paragraph{
        font-family: Avenir-Light;
        font-size: vw(20px);
        line-height: vw(27px);
        margin-top: vw(20px);
        font-weight: normal;
        color: #F44336;
    }

    .teamuser-padding{
        padding: 0;
    }

    .border-teamuser{
        border: none;
    }

    .border-teamuser:focus{
        outline: none;
        box-shadow: none;
    }

    .team-top-button{
        margin-top: vw(68px);
    }
}

/********* 09PERSON PROFILE TEAM User-password css ********/
#exampleModal21{
    
    p{
        font-family: Avenir;
        font-size: vw(25px);
        line-height: vw(34px);
        font-weight: bold;
    }

    .border-top-form{
        border: none;
        border-top: 1px solid #000;
        border-radius: 0px;
    }

    .margin-top-welcome{
        margin-top: vw(65px);
        margin-bottom: vw(168px);
    }

}

/********* 09PERSON PROFILE TEAM Subscription css ********/
#exampleModal22{

    p{
        font-family: Avenir;
        font-size: vw(25px);
        line-height: vw(34px);
        font-weight: bold;
        margin-bottom: vw(15px);
    }

    .edit-subscription-title{
        font-family: Avenir;
        font-size: vw(20px);
        line-height: vw(27px);
        font-weight: bold;
    }

    .edit-subscription-paragraph{
        font-family: Avenir-Light;
        font-size: vw(20px);
        line-height: vw(27px);
        color: #F44336;
        padding-right: vw(100px);
        margin-top: vw(100px);
        margin-bottom: vw(250px);
    }

}

/********* 00PERSON PROFILE ADMIN SIGN UP css ********/

#exampleModal23{

    p{
        font-family: Avenir;
        font-size: vw(25px);
        line-height: vw(34px);
        font-weight: bold;
        margin-bottom: vw(15px);
    }

    .teammats-input{
        border: none;
        border-top: 1px solid #efefef;
        padding-left: 0;
        padding-right: 0;
    }

    .teammats-input:focus{
        outline: none;
        box-shadow: none;
    }

    .check-box{
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        padding: vw(10px) vw(0px);
    }

    .check-box1{
        padding-left: 0;
        padding-right: 0;
        color: #00C950;
    }
    .teammate-spam{
        font-family: Avenir;
        font-size: vw(17px);
        padding: vw(10px) vw(20px);
    }

    .teammate-add-another{
        font-family: Avenir;
        font-size: vw(20px);
        line-height: vw(27px);
    }

    .teammate-add-another:focus{
        outline: none;
        box-shadow: none;
    }

    .nav-pills .nav-link{
        font-size: vw(20px);
        line-height: vw(27px);
        font-weight: 500;
        color: darkgrey;
        text-align: center;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        color: #000000;
        background: transparent ;
    }

    .modal-two-height{
        margin-bottom: vw(65px);
    }

    .modaltwo-price-total{
        font-size: vw(20px);
        line-height: vw(27px);
        color: #00C950;
        margin-top: vw(10px);
    }
    .modaltwo-price-totalone{
        font-size: vw(20px);
        line-height: vw(27px);
        color: #00C950;
        margin-top: vw(10px);
        margin-right: vw(25px);
    }
}

/********* 11PERSON PROFILE USER-Free css ********/

#exampleModal24{

    p{
        font-family: Avenir;
        font-size: vw(25px);
        line-height: vw(34px);
        font-weight: bold;
        margin-bottom: vw(15px);
    }

    .edit-sub-newpara{
        font-family: Avenir;
        font-size: vw(20px);
        line-height: vw(27px);
        font-weight: bold;
        margin-bottom: vw(15px);
    }

    .check-box{
        border-top: 1px solid #efefef;
        padding: vw(10px) vw(0px);
    }

    .check-box1{
        padding-left: 0;
        padding-right: 0;
        color: #00C950;
    }

    .teammate-add-another{
        font-family: Avenir;
        font-size: vw(20px);
        line-height: vw(27px);
    }

    .teammate-add-another:focus{
        outline: none;
        box-shadow: none;
    }

    .nav-pills .nav-link{
        font-size: vw(20px);
        line-height: vw(27px);
        font-weight: 500;
        color: darkgrey;
        text-align: center;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        color: #000000;
        background: transparent ;
    }

    .modal-two-height{
        margin-bottom: vw(135px);
    }
    .modaltwo-price-totalone{
        font-size: vw(20px);
        line-height: vw(27px);
        color: #F44336;
        margin-top: vw(10px);
    }
}

/********* 11PERSON PROFILE USER-Free css ********/

#exampleModal25{

    p{
        font-family: Avenir;
        font-size: vw(25px);
        line-height: vw(34px);
        font-weight: bold;
        margin-bottom: vw(15px);
    }

    .edit-sub-newpara{
        font-family: Avenir;
        font-size: vw(20px);
        line-height: vw(27px);
        font-weight: bold;
        margin-bottom: vw(15px);
    }

    .check-box{
        border-top: 1px solid #efefef;
        padding: vw(25px) vw(0px);
    }

    .check-box1{
        padding-left: 0;
        padding-right: 0;
        color: #00C950;
    }

    .teammate-add-another{
        font-family: Avenir;
        font-size: vw(20px);
        line-height: vw(27px);
    }

    .teammate-add-another:focus{
        outline: none;
        box-shadow: none;
    }

    .nav-pills .nav-link{
        font-size: vw(20px);
        line-height: vw(27px);
        font-weight: 500;
        color: darkgrey;
        text-align: center;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        color: #000000;
        background: transparent ;
    }

    .modal-two-height{
        margin-bottom: vw(135px);
    }
    .modaltwo-price-totalone{
        font-size: vw(20px);
        line-height: vw(27px);
        color: #F44336;
        margin-top: vw(10px);
    }
}