/***====================
    modal three css
====================***/

/*** ======== 01NEWSLIST ======== ***/

#exampleModal26{

    p{
        font-family: Avenir;
        font-size: vw(30px);
        line-height: vw(41px);
        font-weight: bold;
        margin-bottom: vw(15px);
    }

    .newslist-input-border{
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 0;
    }

    .newslist-input-border:focus{
        outline: none;
        box-shadow: none;
    }

    .select-box-margin{
        margin-bottom: vw(152px);
    }
}

/*** ======== 01PRICEWATCH ======== ***/

#exampleModal27{

    p{
        font-family: Avenir;
        font-size: vw(30px);
        line-height: vw(41px);
        font-weight: bold;
        margin-bottom: vw(52px);
    }

    .newslist-input-border{
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 0;
    }

    .newslist-input-border:focus{
        outline: none;
        box-shadow: none;
    }

    .select-box-margin{
        margin-bottom: vw(152px);
    }
}

/*** ======== 01WATCHLIST-ALL SIX ======== ***/

#exampleModal28{

    p{
        font-family: Avenir;
        font-size: vw(30px);
        line-height: vw(41px);
        font-weight: bold;
        margin-bottom: vw(20px);
    }

    .newslist-input-border{
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 0;
    }

    .newslist-input-border:focus{
        outline: none;
        box-shadow: none;
    }

    .add-inputmargin{
        margin-bottom: vw(250px);
    }
}

/*** ======== 01 TRENDWATCH ======== ***/

#exampleModal29{

    p{
        font-family: Avenir;
        font-size: vw(30px);
        line-height: vw(41px);
        font-weight: bold;
        margin-bottom: vw(20px);
    }

    .newslist-input-border{
        border: none;
        border-bottom: 1px solid #000;
        border-radius: 0;
    }

    .newslist-input-border:focus{
        outline: none;
        box-shadow: none;
    }

    .add-inputmargin{
        margin-bottom: vw(250px);
    }
}