/********* 02PERSON PROFILE REJECT TERMS Css ********/

#exampleModal30{

    h4{
        font-family: Avenir;
        font-size: vw(30px);
        color: #000000;
        margin-top: vw(40px);
        margin-bottom: 0;
    }

    span{
        color: limegreen;
        font-family: Avenir;
        font-size: vw(30px);
        font-weight: 800;
        height: vw(100px);
    }

    .cancel-css{
        font-family: Avenir;
        font-size: vw(24px);
        line-height: vw(41px);
        width: vw(165px);
        height: vw(50px);
        color: #fff;
        background: #F44336;
        box-shadow: vw(0px) vw(2px) vw(2px) rgba(0, 0, 0, 0.24), vw(0px) vw(0px) vw(2px) rgba(0, 0, 0, 0.12);
        border-radius: vw(2px);
        margin-top: vw(100px);
        margin-bottom: vw(28px);
    }

    .buy-css{
        font-family: Avenir;
        font-size: vw(24px);
        line-height: vw(41px);
        width: vw(165px);
        height: vw(50px);
        color: #fff;
        background: #FBC02D;
        box-shadow: vw(0px) vw(2px) vw(2px) rgba(0, 0, 0, 0.24), vw(0px) vw(0px) vw(2px) rgba(0, 0, 0, 0.12);
        border-radius: vw(2px);
        margin-top: vw(100px);
        margin-bottom: vw(28px);
    }
}

#exampleModal31{

    h4{
        font-family: Avenir;
        font-size: vw(30px);
        color: #000000;
        margin-top: vw(75px);
        margin-bottom: 0;
    }

    span{
        color: limegreen;
        font-family: Avenir;
        font-size: vw(30px);
        font-weight: 800;
        height: vw(100px);
    }

    p{
        font-family: Avenir;
        font-size: vw(18px);
        line-height: vw(25px);
        margin-top: vw(25px);
    }

    .paragraph-css{
        margin-bottom: vw(200px);
    }
}