/***============================
    Blog Css
============================***/
.bolog-news-left{

    img{
        max-height: vw(400px);
        width: 100%;
    }

    h4{
        font-family: Avenir;
        font-size: vw(30px);
        line-height: vw(41px);
        margin-top: vw(20px);
    }

    p{
        font-family: Avenir-Light;
        font-size: vw(24px);
    }

    span{
        font-family: Avenir;
        font-size: vw(18px);
    }
}